html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}

body {
    border-radius: 10px;
    background-color: hsl(212, 45%, 89%);

}

main {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    border-radius: 15px;
    box-shadow: 10px black;
    width: 18rem;
    padding: 1rem 1rem 2.5rem 1rem;
    background-color: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
    border-radius: .75rem;    
}

p {
    text-align: center;
    font-size: 15px;
    color: hsl(220, 15%, 55%);  
}

h1 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}

@media (max-width: 375px) {
    main {
        width:100%;
    }
}